# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env
.env.*

# VS Code
.vscode/

# Log files
*.log

# System files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Elasticsearch data (if mounted later)
esdata/
